.negras
{
    background-color: #ce4325;
    width: 50px;
    height: 50px;
    font-size: 40px;
}

.blancas
{
    background-color: blanchedalmond;
    width: 50px;
    height: 50px;
    font-size: 40px;
}

.advertencia
{
    color: red;
}